version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:80"
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - DATABASE_URL=sqlite:////code/sql_app.db
    volumes:
      - ./sql_app.db:/code/sql_app.db
      - ./app:/code/app
    depends_on:
      - redis

  redis:
    image: redis:alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
